<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-3-217-216-13.compute-1.amazonaws.com/da2o6tfg3k0kif</property>
        <property name="hibernate.connection.username">mwwwlukkzmojqr</property>
        <property name="hibernate.connection.password">5d236e33ea614e1691add49ae96cdb750fa6c76f311561e4b8fa2f5eecf4d221</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    </session-factory>
</hibernate-configuration>